@media (max-width: 768px) {
    section.vh-100 {
        height: auto !important;
        min-height: auto !important;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
    /* Usuwamy wymuszanie pionowego wyśrodkowania */
    section.vh-100.d-flex {
        align-items: flex-start !important;
    }
    #skills .carousel-inner,
    #portfolio .carousel-inner {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .carousel-control-prev {
        left: 0;
    }

    .carousel-control-next {
        right: 0;
    }
}
